<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Product. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Product_Enquiry::product_enquiry_index" title="Product Enquiry" module="Product_Enquiry"  sortOrder="20" dependsOnModule="Product_Enquiry" action="enquiry/enquiry/index" resource="Product_Enquiry::product_enquiry_index"/>
<!--AddMenu-->
    </menu>
</config>
